<div class="events js-page-controller-action" data-action-name="events">
    <div class="content">
        <div class="cta desktop page-title">
            <p class="cta-text">UPCOMING EVENTS</p>
        </div>
        <img class="event__header-image mobile" src="images/event-header-mobile.jpg" alt="man smoking">
        <div class="event">
            <img class="event__date" src="images/event1-mobile.jpg" alt="march 8th">
            <div class="event__details">
                <div class="event__title">The Exhibition</div>
                <div class="event__time">Boston * 7PM </div>
                <div class="event__location">Fourth Wall Gallery</div>
                <div class="event__description">
                    Some lorem ipsum that I don't really feel like copying over right now goes here. Should be a good event.
                </div>
                <a class="event__rsvp-link">RSVP HERE</a>
            </div>
        </div>
        <div class="event">
            <img class="event__date" src="images/event2-mobile.jpg" alt="march 8th">
            <div class="event__details">
                <div class="event__title">The Exhibition</div>
                <div class="event__time">Boston * 7PM </div>
                <div class="event__location">Fourth Wall Gallery</div>
                <div class="event__description">
                    Some lorem ipsum that I don't really feel like copying over right now goes here. Should be a good event.
                </div>
                <a class="event__rsvp-link">RSVP HERE</a>
            </div>
        </div>
        <div class="cta credits-cta">
            <p class="cta-text">
            WHO MADE THIS ALL POSSIBLE
            <img src="images/cta-arrow.png" alt="button">
            </p>
        </div>
    </div>
</div>
