<div class="footer">
    Copyright 2014. All rights reserved. Quinnton J Harris, in partnership with Randall Jacobs + Nathaniel Porter. Designed by <a>Quinnton J Harris</a>. Developed by <a target="blank">William Butt</a>.
</div>
