<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>L'Academie Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO: add detail -->
        <script src="scripts/vendor/modernizr-2.6.2.min.js"></script>

        <!-- desktop.css for IE8 and below removes media queries -->
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="/styles/legacy.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- endbuild -->
        <!--<![endif]-->

    </head>
    <body>
        <header>
            {{> navigation }}
        </header>
        {{> body }}
        {{> footer }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/core/controller.js"></script>

        <script src="scripts/util.js"></script>

        <script src="components/global/global.js"></script>

        <script src="components/navigation/navigation.js"></script>
        <script src="components/footer/footer.js"></script>
        <!-- endbuild -->

    </body>
</html>
