.navigation {

    /**
     * GENERIC STYLE RULES
     */

    .nav {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    /**
     * SIZE-SPECIFIC STYLE RULES
     * (start small and work up)
     */

    @include breakpoint($bp1) {

    }

    @include breakpoint($bp2) {
        background: #000;
        opacity: 0.92;
        color: #fff;
        .nav {
            width: 740px;
            margin: 0 auto;
            line-height: 40px;
        }
        
        .nav-item {
            display: inline-block;
            text-transform: uppercase;
            margin: 0 2%;

            img {
                vertical-align: middle;
            }
        }

    }

    @include breakpoint($bp3) {

    }
}
