<div class="navigation">
    <ul class="nav">
        <li class="nav-item"><a>LAcadamie</a></li>
        <li class="nav-item"><a>Vision</a></li>
        <li class="nav-item"><a>Result</a></li>
        <li class="nav-item"><a>Extras</a></li>
        <li class="nav-item"><a>Upcoming Events</a></li>
        <li class="nav-item"><a>Credits</a></li>
    </ul>
</nav>
