<div class="result">
    <div class="content">
        <div class="gallery--section gallery--section__brotherhood">
            <img class="gallery--image desktop" src="images/results/brotherhood1.jpg" alt="brotherhood">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Brotherhood
                </div>
                <div class="gallery--subtitle">
                    Primal. Irrational. Gentlemen.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/brotherhood1_mobile.jpg" alt="brotherhood">
            <img class="gallery--image mobile" src="images/results/brotherhood2_mobile.jpg" alt="brotherhood">

            <img class="gallery--image desktop image-50percent" src="images/results/brotherhood2.jpg" alt="brotherhood">
        </div>
        <div class="gallery--section gallery--section__consanguinity">
            <img class="gallery--image desktop image-50percent" src="images/results/consanquinity1.jpg" alt="Consanguinity">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Consanguinity
                </div>
                <div class="gallery--subtitle">
                    Insatiable. Curious. Evocative.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/consanquinity1_mobile.jpg" alt="Consanguinity">
            <img class="gallery--image mobile" src="images/results/consanquinity2_mobile.jpg" alt="Consanguinity">

            <img class="gallery--image desktop" src="images/results/consanquinity2.jpg" alt="Consanguinity">
        </div>
        <div class="gallery--section gallery--section__intrigue">
            <img class="gallery--image desktop image-55percent" src="images/results/intrigue1.jpg" alt="intrigue">
            <div class="gallery--title">
                <div class="gallery--name">
                    Mutual Intrigue
                </div>
                <div class="gallery--subtitle">
                    Entitlement. Initiates. Conflict.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/intrigue1_mobile.jpg" alt="intrigue">
            <img class="gallery--image mobile" src="images/results/intrigue2_mobile.jpg" alt="intrigue">
            <img class="gallery--image mobile" src="images/results/intrigue3_mobile.jpg" alt="intrigue">
            <img class="gallery--image mobile" src="images/results/intrigue4_mobile.jpg" alt="intrigue">

            <img class="gallery--image desktop image-50percent" src="images/results/intrigue2.jpg" alt="intrigue">
            <img class="gallery--image desktop image-50percent" src="images/results/intrigue3.jpg" alt="intrigue">
            <img class="gallery--image desktop" src="images/results/intrigue4.jpg" alt="intrigue">
        </div>
        <div class="gallery--section gallery--section__offering">
            <img class="gallery--image desktop image-55percent" src="images/results/offering1.jpg" alt="offering">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Offering
                </div>
                <div class="gallery--subtitle">
                    Tribute. Perception. Equity.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/offering1_mobile.jpg" alt="offering">
            <img class="gallery--image mobile" src="images/results/offering2_mobile.jpg" alt="offering">
            <img class="gallery--image mobile" src="images/results/offering3_mobile.jpg" alt="offering">

            <img class="gallery--image desktop image-45percent" src="images/results/offering2.jpg" alt="offering">
            <img class="gallery--image desktop" src="images/results/offering3.jpg" alt="offering">
        </div>
        <div class="gallery--section gallery--section__dispute">
            <img class="gallery--image desktop image-55percent" src="images/results/dispute1.jpg" alt="dispute">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Dispute
                </div>
                <div class="gallery--subtitle">
                    Infatuation. Passion. Lust.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/dispute1_mobile.jpg" alt="dispute">
            <img class="gallery--image mobile" src="images/results/dispute2_mobile.jpg" alt="dispute">
            <img class="gallery--image mobile" src="images/results/dispute3_mobile.jpg" alt="dispute">
            <img class="gallery--image mobile" src="images/results/dispute4_mobile.jpg" alt="dispute">
            <img class="gallery--image mobile" src="images/results/dispute5_mobile.jpg" alt="dispute">

            <img class="gallery--image desktop" src="images/results/dispute2.jpg" alt="dispute">
            <img class="gallery--image desktop image-50percent" src="images/results/dispute3.jpg" alt="dispute">
            <img class="gallery--image desktop image-50percent" src="images/results/dispute4.jpg" alt="dispute">
            <img class="gallery--image desktop" src="images/results/dispute5.jpg" alt="dispute">
        </div>
        <div class="gallery--section gallery--section__conference">
            <img class="gallery--image desktop image-50percent left" src="images/results/conference1.jpg" alt="conference">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Conference
                </div>
                <div class="gallery--subtitle">
                    Subversive. Intellectual. Contention.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/conference1_mobile.jpg" alt="conference">
            <img class="gallery--image mobile" src="images/results/conference2_mobile.jpg" alt="conference">

            <img class="gallery--image desktop image-50percent" src="images/results/conference2.jpg" alt="conference">
        </div>
        <div class="gallery--section gallery--section__morning">
            <div class="gallery--title">
                <div class="gallery--name">
                    The Morning After
                </div>
                <div class="gallery--subtitle">
                     Revelation. Authenticity. Power.
                </div>
            </div>
            <img class="gallery--image mobile" src="images/results/morning1_mobile.jpg" alt="morning">
            <img class="gallery--image mobile" src="images/results/morning2_mobile.jpg" alt="morning">
            <img class="gallery--image mobile" src="images/results/morning3_mobile.jpg" alt="morning">
            <img class="gallery--image mobile" src="images/results/morning4_mobile.jpg" alt="morning">

            <img class="gallery--image desktop image-55percent" src="images/results/morning1.jpg" alt="morning">
            <img class="gallery--image desktop" src="images/results/morning2.jpg" alt="morning">
            <img class="gallery--image desktop" src="images/results/morning3.jpg" alt="morning">
            <img class="gallery--image desktop" src="images/results/morning4.jpg" alt="morning">
        </div>
        <div class="cta">
            <p class="cta-text">
            SEE MORE
            <img src="images/cta-arrow.png" alt="button">
            </p>
        </div>
    </div>
</div>
