html {
    background: #000;
    height: 100%;
}
body {
    height: 100%;
}
@include breakpoint($bp1) {
    body {
        overflow-y: hidden;
    }
}
.homepage {

    /**
     * GENERIC STYLE RULES
     */



    /**
     * SIZE-SPECIFIC STYLE RULES
     * (start small and work up)
     */

    @include breakpoint($bp1) {
        background-image: url("../images/home-background-mobile.jpg");
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-y: scroll;

        .play-button-container {
            display: none;
        }
        .content {
            width: 100%;
            margin: 0 auto;
            position: relative;
            top: 70%;
            padding-bottom: 50px;
            background: rgba(0,0,0,.7);
        }
        .text {
            width: 90%;
            color: white;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .cta {
            height: 50px;
            background: rgba(227, 103, 97, 0.9);
            margin-top: 50px;
            width: 100%;
            img {
                position: relative;
                top: 2px;
                left: 10px;
            }
        }
        .cta-text {
            color: white;
            margin: 0 auto;
            line-height: 50px;
            width: 210px;
        }
    }

    @include breakpoint($bp2) {
        background-image: url('../images/home-background.jpg');
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        background-color: black;
        background-repeat: no-repeat;
        background-position: top center;

        .content {
            width: 740px;
            margin: 0 auto;
            color: #fff;
            position: static;
            padding: 0; 
        }
        .text { 
            width: 370px;
            background: rgba(0, 0, 0, .8);
            padding: 0% 5% 5% 5%;
            line-height: 200%;
            margin-top: 90px;
            float: left;
            margin-right: 30%;
            img {
                width: 100%;
            }
        }
        .cta {
            height: 50px;
            background: rgba(227,103,97,.9);
            margin-top: 10px;
            width: 370px;
            padding: 0 5%;
            float: left;
            img {
                position: relative;
                top: 2px;
                left: 10px;
            }
        }
        .cta-text {
            margin: 0 auto;
            line-height: 50px;
            width: 210px;
        }
        .play-button-container {
            display: block;
        }
        .play-button {
            position: absolute;
            top: 350px;
            left: 73%;
        }
    }

    @include breakpoint($bp3) {

    }
        
    @include breakpoint(950px) {
        .content {
            width: 900px;
        }
        .play-button {
            left: 70%;
        }
    }
    @include breakpoint(1200px) {
        .content {
            width: 1095px;
        }
        .play-button {
            left: 65%;
        }
    }
}
@include breakpoint($bp2) {
    .nav-item:nth-of-type(1) {
        background: rgba(255,255,255,0.4);
    }
}

