<div class="homepage">
    <div class="content">
        <div class="text">
            <img src="images/learn.png" alt="learn">
            <p>The L’Académie Project is built upon a simple idea: To learn about fashion, one must experience it, examining the conventions not just of the art produced, but the process that produces it.</p>
<p>This idea evolved into an exploration of the principles of fashion, photography, gender, and education, creating a unique experience in which the finished photographic narrative only told half the story.</p>            
        </div>
        <div class="cta">
            <p class="cta-text">
                WHAT IS OUR VISION?
                <img src="images/cta-arrow.png" alt="button">
            </p>
        </div>
        <div class="play-button-container">
            <img class="play-button" src="images/play-button.png" alt="play-button">
        </div>
    </div>
</div>
