<div class="vision">
    <div class="content">
        <div class="title">
            <p>
            VISION
            </p>
        </div>
        <div class="intro">
            <img class="image--humanity" src="images/humanity.png" alt="humanity">
            <p class="description">
            L’Académie is an experiment, examination, and holistic experience, using an education in fashion culture to both tell a story and make a statement. It was envisioned as a study of some of the most fundamental foundations of society: education, attraction, gender, and beauty. We mixed them, broke them down, refined and redefined them, using a diverse team of talents united by innovation to express what we learned through fashion.
            </p>
        </div>
        <div class="thumbnails-container">
            <ul class="thumbnails mobile">
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-1.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-2.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-3.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-4.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-5.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-6.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-7.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-8.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-9.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-10.jpg"></li>
            </ul>
            <ul class="thumbnails desktop">
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-1.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-2.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-3.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-4.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-6.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-7.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-10.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-8.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-5.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/line-icon-mobile.jpg"></li>
                <li class="thumb"><img alt="thumbnail" src="images/thumbnail-mobile-9.jpg"></li>
                <li class="icon"><img alt="thumbnail" src="images/swirl-icon-mobile.png"></li>
            </ul>
        </div>
        <div class="invitation-and-cta">
            <img class="legends-text" src="images/legends-mobile.png" alt="legends">
            <img class="models mobile" src="images/vision-detail-mobile.jpg" alt="models">
            <img class="models desktop" src="images/vision-detail.jpg" alt="models">
            <img class="icon" src="images/swirl-down.png" alt="icon">
            <p class="description">
            The finished product tells a story that celebrates beauty, the unconventional, and an aesthetic that is thought provoking and austere.
            </p>
            <div class="cta">
                <p class="cta-text">
                SEE THE RESULT
                <img src="images/cta-arrow.png" alt="button">
                </p>
            </div>
        </div>
    </div>
</div>
